extend layout

block content
 h3.display-4.text-center Report
 p.text-center This is Report page
  style.
    table,
    th,
    td {
    border: 1px solid black;
    padding: 3px;
    }
    table {
    border-spacing: 10px;
    }
  table(style='width:100%;')
    thead
      tr
        th to
        th cc
        th bcc
        th subject
        th message
        th scheduledate
    tbody
      each maildata, i in maildatas
        tr
         td= maildata.tomail
         td= maildata.cc
         td= maildata.bcc
         td= maildata.tsubject
         td= maildata.message
         td= maildata.date